<!doctype html>
<html>
<head>
    <title>CGI Admin Panel</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">  
    <style>
        body {padding-top: 80px;}
    </style>
</head>
<body>
    <div class="container">
        <div class="jumbotron text-center">
            <h1><span class="fa fa-lock"></span>Your Entity dont give you access to this page</h1>
        </div>
        <p> Back <a href="/"> Home </a>.</p>
    </div>
</body>
</html>