<!doctype html>
<html>
<head>
    <title>CGI Admin Panel</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">  
    <style>
        body {padding-top: 80px;}
    </style>
</head>
<body>
    <div class="container">
        <div class="col-sm-6 col-sm-offset-3">
            <h1 class="text-center"><span> Registration </span></h1>

            <% if(message.length > 0) { %>
                <div class = "alert alert-danger"> <%= message %></div>
            <% } %>

            <hr>

            <form action"/signup" method="post">
                <div class="form-group">
                    <lable><strong> Email </strong></lable>
                    <input type="text" class="form-control" name="email">
                </div>
                <div class="form-group">
                    <lable><strong> Password </strong></lable>
                    <input type="password" class="form-control" name="password">
                </div>
        
                <div class="form-group">
                    <label> Entity </label>
                    <select class="form-control" name="entity">
                        <option value="Bombeiro">Bombeiro</option>
                        <option value="Policia">Policia</option>
                        <option value="Via-Publica">Via-Publica</option>
                        <option value="Admin">Admin</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-warning btn-lg"> Regist </button>
            </form>

            <hr>

            <p> Back <a href="/"> Home </a>.</p>

        </div>
    </div>
    </div>
</body>
</html>